* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    margin: 0 auto;
    height: 80vh;

    border: 1px solid;
}

#calculator-main {
    width: 500px;
}


#calculator-container {
    display: grid;

    grid-template-rows: 1fr, 2fr, 1fr, 5fr, 1fr;
    grid-template-columns: 1fr;
}
#calculator-screen-container {
    border: 1px solid;
    height: 50px;

    text-align: right;
}
#calculator-screen-content {

}

#calculator-button-container {
    display: grid;

    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);

    border: 1px solid;
}
.button {
    border: 1px solid;
    min-width: 50px;

    text-align: center;
}